<% for(const item of buildings){ %>
  <% if(item.componentName === 'TCell'){ %>
    <div>
      <% for(const subItem of item.flexList){ %>
        <div style="">
          <%- renderHtml({buildings: subItem.childrenList}) %>
        </div>
      <% } %>
    </div>
  <%  } %>
<% } %>

















<% if(item.flexList.length === 1) { %>
  <%- renderHtml({buildings: subItem.childrenList}) %>
<% } else { %>
  <div style="">
    <%- renderHtml({buildings: subItem.childrenList}) %>
  </div>
<% } %>