<html>
    <script src="../../node_modules//ejs//ejs.js"></script>
    <script>
      const htmlTemplate = `
      <% for(const item of buildings){ %>
        <% if(item.componentName === 'TCell'){ %>
          <div>
            <% for(const subItem of item.flexList){ %>
              <% if(item.flexList.length === 1) { %>
                <%- renderHtml({buildings: subItem.childrenList}) %>
              <% } else { %>
                <div style="">
                  <%- renderHtml({buildings: subItem.childrenList}) %>
                </div>
              <% } %>
            <% } %>
          </div>
        <%  } %>
      <% } %>`;

      const renderHtml = (data) => {
        const output = ejs.render(htmlTemplate, data);
        console.log('output', output);
        return ejs.render(htmlTemplate, data);
      };
      const buildings = [
  {
    id: 'K7iYUJbmd',
    name: 'Cell',
    attribute: 'LAYOUT',
    componentName: 'TCell',
    flexList: [
      {
        widthRatio: 1,
        childrenList: [
          {
            id: 'H7rRiIhmX',
            name: 'Cell',
            attribute: 'LAYOUT',
            componentName: 'TCell',
            flexList: [
              {
                widthRatio: 1,
                childrenList: [
                  {
                    id: 'H7rRiIhmX',
                    name: 'Cell',
                    attribute: 'LAYOUT',
                    componentName: 'TCell',
                    flexList: [
                      {
                        widthRatio: 1,
                        childrenList: [],
                      },
                    ],
                  },
                  {
                    id: 'H7rRiIhmX',
                    name: 'Cell',
                    attribute: 'LAYOUT',
                    componentName: 'TCell',
                    flexList: [
                      {
                        widthRatio: 1,
                        childrenList: [],
                      },
                    ],
                  },
                ],
              },
            ],
          },
        ],
      },

    ],
  },
  {
    id: 'uUiVTI9qE',
    name: 'Cell',
    attribute: 'LAYOUT',
    styleObj: {
      name: 'etst',
      styles: {},
    },
    componentName: 'TCell',
    flexList: [
      {
        widthRatio: 1,
        childrenList: [],
      }
    ],
  },
  {
    id: 'DW7mv9_7b',
    name: 'Cell',
    attribute: 'LAYOUT',
    componentName: 'TCell',
    flexList: [
      {
        widthRatio: 1,
        childrenList: [],
      },
      {
        widthRatio: 1,
        childrenList: [],
      },
      {
        widthRatio: 1,
        childrenList: [],
      },
    ],
  },
  {
    id: 'wCSlWxQ6P',
    name: 'Cell',
    attribute: 'LAYOUT',
    componentName: 'TCell',
    flexList: [
      {
        widthRatio: 1,
        childrenList: [],
      },
      {
        widthRatio: 1,
        childrenList: [],
      },
      {
        widthRatio: 1,
        childrenList: [],
      },
    ],
  },
];

    const result = renderHtml({buildings});
    console.log('result', result);
    </script>
</html>